<div class="card card-header text-white bg-success">

  <h6>
    Liste des Batiments
  </h6>
</div>
<table class="table table-bordered">

  <thead>

    <tr class="table-active">
      <th scope="col">Adresse</th>
      <th scope="col">Ville</th>
      <th scope="col">code postal</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let p of batiments ">

      <td><span>{{p.address}}</span></td>
      <td>{{p.city}}</td>
      <td>{{p.postalCode}}</td>


      <td>
        <button class="btn btn-sm btn-primary" (click)="open(content)">
          <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-sm btn-danger" (click)="delete(p.batimentId)" >
          <i class="fas fa-remove" ></i>
        </button>
        <button (click)="updateBatiment(p.id)" class="btn btn-success"><i class="fas fa-edit"></i></button>
      </td>


      </tr>

    </tbody>
  </table>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Batiment</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="address">Adress</label>
          <div class="input-group">
            <input id="address" class="form-control"  [(ngModel)]= "batiment.address">
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="city">City</label>
          <div class="input-group">
            <input id="city" class="form-control" [(ngModel)]= "batiment.city" >
          </div>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="postalCode">Code postal</label>
          <div class="input-group">
            <input id="postalCode" class="form-control" [(ngModel)]= "batiment.postalCode"  >
          </div>
        </div>
      </form>

      <form>
        <div class="form-group">
        <label for="client">Nom client</label>
      <select id="selected" class="form-select"  id="client"  [(ngModel)]= "batiment.client">
        <option  *ngFor="let c of clients" [ngValue]="c">{{c.name}}</option>
      </select>
         </div>
      </form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="addBatiment()">Add</button>
    </div>
  </ng-template>

